@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
}

:root{
   --primari:#161b33;
   --secundary:#474973;
   --terciary:#0d0c1d ;
   --letras:#a69cac;
}

/*  SCROLLBAR  */
::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento vertical */
    height: 12px; /* Alto de la barra de desplazamiento horizontal */
  }::-webkit-scrollbar-track {
    background: var(--terciary); /* Color de fondo del track */
  }::-webkit-scrollbar-thumb {
    background-color: var(--secundary); /* Color del thumb */
    border-radius: 15px; /* Bordes redondeados */
    border: 1px solid #f0fbff; /* Espacio alrededor del thumb */
  }
  /*FIN SCROLLBAR*/ 
  
html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   scroll-padding-top:100px ;
 } 

 /* BODY */

 #body{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
 }

 /* FIN BODY */

/* MAIN */

#main{
    background: var(--secundary);
    width: 100%;
}

.detalleProducto{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detalleProducto .conteiner_image{
     width: 100%;
     display: flex;
     padding: 10px 0 10px 0;
     justify-content: center;
     margin: 5px 0 5px 0;
     align-items: center;
}
.detalleProducto .conteiner_image img{
   width: 300px;
   height: auto;
   object-fit: cover;   
   border-radius: 15px;
}

.detalleDescripcion{
    margin: 9px;
    padding: 10px;
    border: 1px solid var(--primari);
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.detalleDescripcion h1{
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
}

.detalleDescripcion h3{
    color: #0d0c1d;
    font-size: 2.1rem;
    font-weight: 500;
}

.detalleDescripcion p{
    color: var(--letras);
    font-size: 1.5rem;
    font-weight: 45 0;
}

.detalleDescripcion #span{
    color: #0d0c1d;
    font-size: 1.5rem;
    font-weight: 500;
}


.detalleDescripcion .precio{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black;
    border-radius: 10px;
    gap: 10px;
    padding: 10px; */
}

.precio p{
    color: #0d0c1d;
    font-size: 1.9rem;
}
.precio span{
    color: var(--letras);
    font-size: 1.9rem;
    font-weight: 700;
}

.precio button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: var(--primari);
    color: var(--letras);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.precio button:hover{
    background: var(--letras);
    color: var(--primari);
}
.envios{
    display: flex;
    align-items: center;
    gap: 5px;

}

.envios h3{
    color: var(--letras);
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
}



/* FIN MAIN*/

/*MEDIAQUERY*/

@media(min-width: 768px){

    .detalleProducto{
        flex-direction: row;
        justify-content: center;
    }
    .detalleProducto .conteiner_image{
        width: 30%;
        align-items: flex-start;
    }
    .detalleProducto .conteiner_image img{
       width: 200px ;
    }
    .detalleDescripcion{
         width: 60%;
         padding: 20px;
    }
    .detalleDescripcion .precio button{
        max-width: 350px;
    }

}

@media(min-width: 1024px){
    
    /* .conteiner_image{
       width: 10% !important;
    }
    .detalleDescripcion{
         width: 80%;
         padding: 20px;
    } */

}