@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   scroll-padding-top:100px ;
 } 
 
:root{
   --primari:#161b33;
   --secundary:#474973;
   --terciary:#0d0c1d ;
   --letras:#a69cac;
}

/*  SCROLLBAR  */

::-webkit-scrollbar {
  width: 7px; /* Ancho de la barra de desplazamiento vertical */
  height: 12px; /* Alto de la barra de desplazamiento horizontal */
}::-webkit-scrollbar-track {
  background: var(--terciary); /* Color de fondo del track */
}::-webkit-scrollbar-thumb {
  background-color: var(--secundary); /* Color del thumb */
  border-radius: 15px; /* Bordes redondeados */
  border: 1px solid #f0fbff; /* Espacio alrededor del thumb */
}
/*FIN SCROLLBAR*/

/*body*/
 #body{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background-color: var(--secundary) ;
 }
/*fin body*/

/*  HEADER  */

#header {
  width: 100%;
  position: fixed;
  z-index: 999;
  margin: 0 auto;
}
#header .navbar {
   background-color: var(--primari) !important;
}

#menu_hamburgesa{
   color: var(--letras) !important;
}
#header .navbar-toggler-icon{
   background-color: #a69cac;
   border-radius: 5px;
   padding: 14px;
}


#header .navbar-brand,
#header .nav-link,
#header .dropdown-item
#header {
   color: #a69cac ;
   font-weight: 500;

   font-size: 1.5rem;
}

.container-fluid i{
  color: white;
  
}


/* FIN HEADER  */


/*  MAIN*/

#main {
   background-color: var(--secundary);
   width: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#carousel {
  width: 100%;
  margin: 42px 0 0 0; 
}

#setup{
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 20px 5px 20px 5px;
  flex-direction: column;
  width: 100%; 
  gap: 10px;
}

#setup .setup-text{
  /* font-size: 48px; */
  /* font-weight: 800; */
 width: 100%; 
  flex: 1;
}

#setup .setup-text h1{
  /* margin: 0; */
/* padding: 0; */
font-size: 2rem;
background: linear-gradient(to top, #30cfd0, #c43ad6);
background-clip: text;
color: transparent;
font-weight: 800;
 margin-bottom: 10px;
}

/*animacion al h1*/

#setup .setup-text h1{
 animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

@keyframes blink {
  to{
    background-color: transparent;
    opacity: 0;
  }
}

@keyframes typeWriter {

  to{
    left: 100%;
  }
}

#setup .setup-text h1 span{
  position: relative;
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  background-clip: text;
  color: transparent;
  --webkit-background-clip: text;
}

#setup .setup-text h1 span::before,
#setup .setup-text h1 span::after{
content: "";
/* background-color: red; */
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;

}

#setup .setup-text h1 span::before{
  background: var(--secundary);
  /* background-color: red; */
  animation: typeWriter 1.2s 0s steps(11) forwards;
}

#setup .setup-text h1 span::after{
  width: 1.6px;
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  animation: typeWriter 1.2s 0s steps(11) forwards, blink .8s steps(11) infinite;
  
}

#setup .setup-IMG{
  width: 100%;
  display: flex;
  gap: 8px;
  transition: transform 1s ease, 
  box-shadow 1s ease;
}
.IMG1{
  width: 50%;
  height: 80px;
}

.IMG2{
  width: 50%;
  height: 80px;
}

#setup .setup-IMG img{
  width: 100%;
  height: 100% ;
  object-fit: cover;
  border-radius: 10px;
 }

#setup .setup-IMG img:hover{
  transform: scale(0.1);
 transform: translate(0, 1px);
  box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5), -10px 10px 25px 0 rgba(183, 0, 255, 0.794);
}

#destacados{
  width: 100%;
  height: 100%;
}

#destacados h2{
  /* color: var(--letras); */
  background: linear-gradient(to top, #30cfd0, #c43ad6);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  font-size: 2rem;
  padding: 10px;
  position: relative;
  /* border-color: 2px solid linear-gradient(to top right, #B066FE, #63E2FF); */
}

#destacados .categoriasProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 30px 10px 30px;
}

#destacados .categoriasProductos .categorias{
  background: var(--primari);
  color: var(--letras);
  font-weight: 600;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
}

#destacados .categoriasProductos .activado{
  background:#1e50ff;
  color: white;
}

#destacados .card {
  width: 100%;
  height: 100%;
   border-radius: 17px;
   padding: 5px;
   flex-direction: column;
   max-height: 270px;
   overflow: hidden;
   transition: transform 0.3s, opacity 0.3s ease;
   -webkit-box-shadow: -9px 9px 23px 3px rgba(0, 0, 0, 0.62);
   -moz-box-shadow: -9px 9px 23px 3px rgba(0, 0, 0, 0.62);
   box-shadow: -9px 9px 23px 3px rgba(0, 0, 0, 0.62);
   background-color: rgba(255, 255, 255, 0.165);
  }


 #destacados .card img {
   width: 180px;
   height: 150px;
   /* object-fit: cover; */
   border-radius: 17px;

 }
 
 .card:hover {
   transform: scale(1.06);
 animation: fade 1s ease-in, slide-up 1.3s ease-in-out;

 }
 
 .card .card-body {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
   
   /* justify-content: space-between; */
   gap: 5px;
 }
 
 .card .card-body h5 {
   font-size: 12px;
   font-weight: 690;
   color: var(--letras);
   white-space: normal;
   /* flex: 1; */
 }
 
 .card .card-body p {
   font-size: 1.5rem;
 color: #121212;
 font-weight: 900;
 }
 
 .card .card-body h5, 
 .card .card-body p{
  margin: 0;
  padding: 0;
 }
 .card-body .btn {
   text-decoration: none;
   color: white;
   width: 100%;
   font-weight: 800;
   background-color: var(--primari);
   border-radius: 10px;
   border: 1px solid var(--primari);
 
 }
 

 .card .btn:hover {
   background-color: #0d0c1dab;
   border: 1px solid var(--primari);
   
 }

 #destacados .verMas {
  margin:40px 0 30px 0;
  background: var(--primari);
  color: var(--letras);
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

#destacados .verMas:hover{
  background: #1e50ff;
  color: white;
}



/*  FIN MAIN*/

/*FOOTER*/
#footer{
  background: var(--terciary);
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 20px 20px 0 0;
}

#footer, p{
  color: var(--letras);
  font-family: Helvetica;
  font-weight: 700;
  font-size: 1.3rem;
}




/*FIN FOOTER*/

/*MEDIAQUERIES*/


@media (min-width: 768px){
   #destacados{
    max-width: 630px;
   }
   #setup .IMG1{
    height: 160px;
   }
   #setup .IMG2{
    height: 160px;
   }
   
}


@media (min-width: 1024px){
   #destacados{
    max-width: 990px;
   }
   #destacados .card img {
     width: 170px;
   }
   #setup .IMG1{
    height: 200px;
   }
   #setup .IMG2{
    height: 200px;
    }
}