body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


#about-us {
  background-color: #1a1a1a;
  color: #f8f9fa;
  padding: 100px 0;
  overflow-y: hidden;
}

.about-us-section {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url('../assets/setup.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.logoprinci {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 70px;
  height: auto;
  z-index: 10;
  cursor: pointer;
}

.about-us-content h2 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  width: 10px;
  margin: 0 auto;
  left: 100px;
  bottom: 100px;
}

.about-us-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

@media (max-width: 820px) {
  .about-us-section {
      height: 40vh;
      padding: 20px 0;
  }

  .about-us-content h2 {
      font-size: 2.5rem;
      margin: 0 auto;
      width: 90%;
      position: relative;
      top: 50px;
      left: 5%;
  }

  #about-us-text {
      width: 100%;
      height: 100%;
      max-height: 200rem;
  }

  .titulodesc.visible {
      opacity: 1;
      transform: translateX(0);
      font-size: 5rem;
      left: -100px;
      bottom: 50px;
  }

  .desc.visible {
      opacity: 1;
      font-size: 20px;
      max-width: 80vw;
  }
}

@media (max-width: 768px) {
  .about-us-section {
      height: 30vh;
      padding: 20px 0;
      background-size: cover;
  }

  .about-us-content h2 {
      font-size: 2.5rem;
      width: 100%;
      margin: 0 auto;
      top: 100px;
  }


  .desc.visible {
      opacity: 1;
      font-size: 2.9vw;
      max-width: 95vw;
  }

  .titulodesc.visible {
      opacity: 1;
      transform: translateX(0);
      font-size: 2.5rem;
      left: -50px;
      top: -40px;
  }

  .about-us-text-cont {
      font-size: 1rem;
  }

}

#about-us-text {
  background-color: #131524;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.about-us-text-cont {
  color: rgb(221, 221, 221);
  font-size: 1.4rem;
  width: 50%;
}

.text-slide-in {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.text-slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}

.desc {
  opacity: 0;
  transition: opacity 1.5s ease-out;
}

.desc.visible {
  opacity: 1;
}

.titulodesc {
  position: relative;
  color: rgb(252, 102, 234);
  font-size: 4rem;
  font-weight: bold;
  bottom: 20px;
  opacity: 0;
  transform: translateX(100vw);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.titulodesc.visible {
  opacity: 1;
  transform: translateX(0);
}

.team-section {
  background-color: #222222;
  padding: 60px 0;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.section-title p {
  color: white;
}

.team-card {
  background-color: #e5e5e5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.team-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.team-role {
  font-size: 1rem;
  font-weight: 500;
  color: #434343;
}

.scrum-card {
  background-color: #e5e5e5;
}

.scrum-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.pmin {
  color: white;
}

.footer {
  background: linear-gradient(to right, #1a1a1a, #333);
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(150, 6, 133);
}

.footer a {
  color: rgb(252, 102, 234);
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer a:hover {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

.footer-links {
  margin: 20px 0;
}

.footer-links .anc-footer {
  margin: 10px 0;
}

.footer-links .anc-footer a {
  font-size: 1.1rem;
}

.footer-copyright {
  font-size: 0.9rem;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

